<div class="right_col" role="main">
	<div class="">
		<div class="row">
	    	<div class="title_left">
	        	<h3>Nueva Imagen para el Carrusel</h3>
	     	</div>

	    <%= render 'form', roulette: @roulette %>

		<%= link_to 'Volver', roulettes_path, :class => "btn btn-round btn-dark" %>

		</div>
  	</div>
</div>