<div class="right_col" role="main">
	<div class="">
		<div class="row">
	    	<div class="title_left">
	        	<h3>Nuevo Comentario</h3>
	     	</div>

	    <%= render 'form', comment: @comment %>

		<%= link_to 'Volver',  comments_path, :class => "btn btn-round btn-dark" %>

		</div>
  	</div>
</div>