<div class="right_col" role="main">
  <div class="">
    <div class="row">
		<div class="title_left">
	    	<h3>Editar Noticia</h3>
	    </div>

	    <%=  render 'form', article: @article %>
	      
        <%= link_to 'Volver', articles_path, :class => "btn btn-round btn-dark" %>
		<%= link_to 'Mostrar', @article, :class => "btn btn-round btn-info" %>
		<%= link_to 'Nuevo', new_article_path, :class => "btn btn-round btn-success" %>  
		  
	</div>
  </div>
</div>