<div class="right_col" role="main">
  <div class="">
    <div class="row">
	   <div class="title_left">
	        <h3>Nueva Facultad</h3>
	    </div>

	      <%= render 'form', career: @career %>

		  <%= link_to 'Volver', careers_path, :class => "btn btn-round btn-dark" %>

	</div>
  </div>
</div>