<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">

				<h1 style="font-weight:bold; text-shadow: 5px 5px 5px #aaa;">Bienvenida</h1>

					<div class="x_title">

						<% if notice.present? %>
							<div class="alert alert-info alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span>
                                </button> 
									<%= notice %>
                            </div>
                        <% end %>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

		                <br>

		                <div class="row">
		                    <div class="col-lg-3 col-md-3"></div>
			            	<div class="col-lg-6 col-md-6">
				            	<center>
				                	<%= image_tag("bienvenidaegresados.jpg",alt: "UAA", class: "img-responsive") %> 
				                </center>		
				            </div>
				            <div class="col-lg-3 col-md-3"></div>
			            </div>

		                <br>

		                <div class="row">
		                	<div class="col-lg-2 col-md-2"></div>
		               		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

			                <p style= "font-family: Times, serif; font-size: 18px; text-align : justify; line-height: 1.5; margin: 20px;">
			                Estimado Egresado:
			                </p>

			               <p style= "font-family: Times, serif; font-size: 18px; text-align : justify; line-height: 1.5; 
			               margin: 20px;">
			               	La Universidad Americana de Acapulco te da la más cordial bienvenida a la página "www.egresados.uaa.edu.mx" sitio web electrónico que hemos diseñado para estar en
			               	contacto permanente contigo, porque los egresados son su fortaleza.
			                </p>

			                <p style= "font-family: Times, serif; font-size: 18px; text-align : justify; line-height: 1.5;
			                margin: 20px;">
			               	A través de este espacio te mantendremos informado de las actividades académicas,
			               	culturales y sociales que desarrolla la UAA, a las cuales quedas cordialmente invitado, así
			               	como hacer uso de sus instalaciones, equipo, biblioteca, entre otros. Podrás estar en
			               	contacto con tus compañeros egresados, maestros, alumnos, directivos de la UAA, plantear
			               	proyectos, intercambiar experiencias y afianzar los lazos de amistad institucional con nuestra
			               	alma Mater la Americana de Acapulco.
			                </p>

			                <p style= "font-family: Times, serif; font-size: 18px; text-align : justify; line-height: 1.5;
			                margin: 20px;">
			               	El conocimiento es dinámico, se multiplica permanentemente la información, las comunicaciones
			               	no tienen fronteras, vivimos en una nueva era de la educación digital, en donde la 
			               	comunicación es fundamental para nuestro desarrollo.
			                </p>

			                <p style= "font-family: Times, serif; font-size: 18px; text-align : justify; line-height: 1.5;
			                margin: 20px;">
			              	Pregunta por el programa de becas para egresados, el cual se hizo como un reconocimiento
			              	para ti y en búsqueda de tú mejora continua.
			                </p>

			                <p style= "font-family: Times, serif; font-size: 18px; text-align : justify; line-height: 1.5;
			                margin: 20px;">
			              	Nuevamente Bienvenido al Programa de Vinculación con los Egresados de la Universidad 
			              	Americana de Acapulco.
			                </p>

			                <p style= "font-family: Times, serif; font-size: 18px; text-align : justify; line-height: 1.5;
			                margin: 20px;">
			              	Orgullosamente UAA.
			                </p>

			                <p style= "font-family: Times, serif; font-size: 18px; text-align : center; line-height: 1.5;
			                margin: 20px;">
			              	<p2>Atentamente</p2>
			              	<br>
			              	<p3>"Excelencia para el Desarrollo"</p3>
			              	</p>

			              	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				              	<p style= "font-family: Times, serif; font-size: 18px; text-align : center; line-height: 1.5;
				                margin: 20px;">
				              	<p2>Dr. Mario Melgar Adalid</p2>
				              	<br>
				              	<p3>Patrono General</p3>
				              	</p>
				            </div>

				            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				              	<p style= "font-family: Times, serif; font-size: 18px; text-align : center; line-height: 1.5;
				                margin: 20px;">
				              	<p2>Mtro. Mario Mendoza Castañeda</p2>
				              	<br>
				              	<p3>Rector</p3>
				              	</p>
				            </div>  	

			           		</div>
			           		<div class="col-lg-2 col-md-2"></div>
			            </div>

		                <br>

                	</div>
				</div>					
			</div>
		</div>
	</div>
</div>
