<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">

				<h1 style="font-weight:bold; text-shadow: 5px 5px 5px #aaa;">Filosofía Institucional</h1>

					<div class="x_title">

						<% if notice.present? %>
							<div class="alert alert-info alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span>
                                </button> 
									<%= notice %>
                            </div>
                        <% end %>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

		                <br>

		                <div class="row">

		                	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		                    	<%= image_tag("uaafilosofia.jpg",alt: "UAA", class: "img-thumbnail") %>      		
			                </div>

		                	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				                <h2 style= "font-weight:bold; font-size: 28px; margin: 20px;">Misión</h2>
				                <p style= "font-size: 15px; text-align : justify; line-height: 1.5; margin: 20px;">La Universidad Americana de Acapulco tiene como misión formar ciudadanos comprometidos con la sociedad mexicana. Su objeto es preparar a sus estudiantes para la vida profesional con responsabilidad social. Sus ejes son la enseñanza media superior, superior y de posgrado, la apreciación del conocimiento científico, la difusión de los valores culturales y humanísticos, el sentido de la solidaridad nacional, la conciencia de comunidad universitaria y la responsabilidad social.</p>
			                </div>


			            </div>

		                <br>

		                <h3 style= "font-weight:bold; font-size: 28px; margin: 20px;">Visión</h3>
		                <p style= "font-size: 15px; text-align : justify; line-height: 1.5; margin: 20px;">Formar profesionales, maestros e investigadores comprometidos con el desarrollo económico, político, social y cultural de Guerrero, conscientes de su responsabilidad como mexicanos integrantes de una sociedad plural, democrática y abierta al pensamiento universal.</p>

		                <br>

		                <h3 style= "font-weight:bold; font-size: 28px; margin: 20px;">Principios Institucionales</h3>

		                <ul style= "font-size: 15px; line-height: 2.0; margin: 20px;">

		                	<li>Libertad Académica.</li>
		                	<li>Apertura al diálogo.</li>
		                	<li>Libertad de cátedra.</li>
		                	<li>Humanismo y sus valores fundamentales.</li>
		                	<li>Formación de profesionistas, maestros e investigadores.</li>
		                	<li>Formación integral.</li>
		                	<li>Ética profesional.</li>
		                	<li>Conciencia de la problemática social contemporánea.</li>
		                	<li>Búsqueda de la verdad científica como principio y fin del trabajo académico.</li>
		                	<li>Excelencia en el ejercicio profesional.</li>
		                	<li>Integración comunitaria.</li>

		                </ul>

		                <br>

		                <h4 style= "font-weight:bold; font-size: 28px; margin: 20px;">Propósitos Institucionales</h4>

		                <p style= "font-size: 15px; text-align : justify; line-height: 1.5; margin: 20px;">La Universidad Americana de Acapulco, para cumplir con su misión institucional, establece los propósitos siguientes:</p>

		                <ul style= "font-size: 15px; line-height: 2.0; margin: 20px;">

		                	<li>La Docencia.</li>
		                	<li>La Investigación.</li>
		                	<li>La Difusión y Extensión de la Cultura.</li>
		                	<li>Sentido de Comunidad y Distribución Social del Conocimiento.</li>

		                </ul>

		                <br>
		                <br>

                	</div>
				</div>					
			</div>
		</div>
	</div>
</div>
