<div class="right_col" role="main">
  <div class="">
    <div class="row">
	   <div class="title_left">
	        <h3>Editar Generación</h3>
	    </div>

	      <%= render 'form', generation: @generation %>
	      
          <%= link_to 'Volver', generations_path, :class => "btn btn-round btn-dark" %>
		  <%= link_to 'Mostrar', @generation, :class => "btn btn-round btn-info" %> 
		  <%= link_to 'Nuevo', new_generation_path, :class => "btn btn-round btn-success" %>

	</div>
  </div>
</div>