<?xml version="1.0"?>
	<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
			  xmlns:o="urn:schemas-microsoft-com:office:office"
			  xmlns:x="urn:schemas-microsoft-com:office:excel"
			  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
			  xmlns:html="http://www.w3.org/TR/REC-html40">
<ss:Styles>

        <ss:Style ss:ID="1">
       		 <ss:Font ss:Bold="1" ss:Color="#ffffff"/>
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
          	 <Interior ss:Color="#0A2B48" ss:Pattern="Solid"/>
          	 <Alignment ss:Horizontal="Center"/>
    	</ss:Style>

    	<ss:Style ss:ID="2">
       		 <Borders>
	            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
	            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          	 </Borders>
    	</ss:Style>

</ss:Styles>		

		<Worksheet ss:Name="Sheet1">
			<Table>

			<Column ss:AutoFitWidth="0" ss:Width="175" />
			<Column ss:AutoFitWidth="0" ss:Width="190" />	

								<Row>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Facultad</Data></Cell>
	                              <Cell ss:StyleID="1"><Data ss:Type="String">Descripción</Data></Cell>
	                            </Row>
	                             <% @generations.each do |generation| %>
	                              <Row>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= generation.career.descripcion_carrera %></Data></Cell>
	                                  <Cell ss:StyleID="2"><Data ss:Type="String"><%= generation.descripcion_generacion %></Data></Cell>
	                              </Row>
	                             <% end %>
			</Table>
		</Worksheet>
	</Workbook>