<div class="right_col" role="main">
	<div class="">
		<div class="row">
	    	<div class="title_left">
	        	<h3>Nueva Solicitud</h3>
	     	</div>

	    <%= render 'form', request: @request %>

		<%= link_to 'Volver', requests_path, :class => "btn btn-round btn-dark" %>

		</div>
  	</div>
</div>
