<div class="right_col" role="main">
  <div class="">
    <div class="row">
	   <div class="title_left">
	        <h3>Nueva Empresa</h3>
	    </div>

	      <%= render 'form', association: @association %>

		  <%= link_to 'Volver', associations_path, :class => "btn btn-round btn-dark" %>

	</div>
  </div>
</div>