<footer>
	<div class="row">
		<center>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h>Av. Costera Miguel Alemán No. 1756, Fracc. Magallanes, Acapulco, Guerrero, México. C.P. 39670.</h>
			</div>
		</center>
	</div>

	<div class="row">
		<center>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<i class="fa fa-phone"></i>Tel: (01 744) 469-17-00  |
				<i class="fa fa-fax"></i>
				 Fax: (01 744) 469-17-98  
			</div>
		</center>
	</div>

	<br>

    <div class="row">
		<center> 
		    <div class="col-md-12 col-sm-12 col-xs-12" style="font-size: 13px;">
				¡Síguenos en nuestras redes sociales!
			</div>
		</center>
	</div>

	<div class="row">
		<center>
			<div class="col-md-12 col-sm-12 col-xs-12">
			    <a href="https://www.facebook.com/EgresadosUAA" target="_blank"><i id="social-fbf" class="fa fa-facebook-square fa-3x social-f"></i></a>
				<a href="https://twitter.com/UniAmericanaAca?lang=es" target="_blank"><i id="social-twf" class="fa fa-twitter-square fa-3x social-f"></i></a>
				<a href="https://www.youtube.com/channel/UCGk_U8tvp8vgfsLJ2WM0cmg" target="_blank"><i id="social-ytf" class="fa fa-youtube-square fa-3x social-f"></i></a>
				<a href="https://plus.google.com/112662954090603441462" target="_blank"><i id="social-gpf" class="fa fa-google-plus-square fa-3x social-f"></i></a>
				<a href="mailto:egresados@uaa.edu.mx" target="_blank"><i id="social-emf" class="fa fa-envelope-square fa-3x social-f"></i></a>
			</div>
		</center>
	</div>

	<br>

	<div class="row">
		<center>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h>Copyright © 2017. Universidad Americana de Acapulco</h>
			</div>
		</center>
	</div>
	
     <div class="clearfix"></div>

     <span class="ir-arriba fa fa-rocket"></span>
</footer>
    